#outer_container{
    width: 1000px;
    height: 100vh;
    margin: auto;
    display: block;
    background: rgba(105, 105, 154, 0.30);
    box-shadow: 5px 0px 5px rgba(105, 105, 154, 0.30),
                -5px 0px 5px rgba(105, 105, 154, 0.30);
}