
.title{
    font-size: 10vw;
    color: white;
    text-shadow: 0px -0px 15px orange;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Princess Sofia', cursive;
}

#container{
    background: rgba(100,100,100,0.7);
    width: 70%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 15px orange,
                0px 0px 5px 0px white inset;
}

.article{
    margin: 10px;
    color: white;
    font-size: 20px;
}

button{
    cursor: pointer;
    background: linear-gradient( to left,
        orange 0%,
        orange 50%,
        white 50%,
        white 100%);
    background-size: 200% auto;
    background-position: 100% 0;
    transition: all 0.5s;
    width: 300px;
    height: 40px;
    outline: none;
    border: 2px solid orange;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    box-shadow:  0px 0px 3px black,
                 0px 2px 5px black;
    text-shadow: 0px 0px 1px black;
}
button:hover{
    background-position: 0 0;
    transition: all 0.2s;
    color: orange;
    text-shadow: 0px 0px 1px white;
}
input[type="text"], input[type="password"]{
    text-align: center;
    background: white;
    transition: all 0.5s;
    width: 300px;
    height: 40px;
    outline: none;
    border: 2px solid orange;
    border-radius: 15px;
    color: orange;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
    box-shadow:  0px 0px 3px black,
                 0px 2px 5px black;
}
input::-webkit-input-placeholder{
    color: lightgray;
}

input::-moz-placeholder{
    color: lightgray;
}

input:-ms-input-placeholder{
    color: lightgray;
}

.short{
    width: 100px !important;
}